# Angular
node_modules/
dist/
.angular/
.cache/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment Files
.env

# VS Code
.vscode/

# Angular Generated
coverage/

# .NET
bin/
obj/

# User-specific files
*.user
*.suo

# ASP.NET Core
appsettings.Development.json

# OS Files
.DS_Store
Thumbs.db
